# Copy this file to .env and fill in your values

SES_SMTP_HOST=email-smtp.us-east-1.amazonaws.com
SES_SMTP_PORT=587
SES_SMTP_USER=your-smtp-username-here
SES_SMTP_PASS=your-smtp-password-here
SES_FROM=noreply@yourdomain.com
SES_TO=your-test-recipient@example.com
